/* line 1, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 14, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

/* line 20, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
body {
  font-family: "Roboto", Helvetica, sans-serif;
  background-color: #e9dee9;
  scroll-behavior: smooth;
}

/* line 26, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
::-webkit-scrollbar {
  width: 0.7em;
}

/* line 30, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* line 34, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
::-webkit-scrollbar-thumb {
  background-color: purple;
  outline: 1px solid slategrey;
}

/* line 39, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
aside::-webkit-scrollbar-thumb {
  background-color: darkgrey;
}

/* line 43, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
section {
  padding: 2.5em 5%;
}

/* line 47, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
a {
  text-decoration: none;
}

/* line 51, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
p {
  opacity: 0.8;
}

/* line 55, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
img {
  max-width: 100%;
}

/* line 59, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.title {
  margin-bottom: 1em;
  font-size: 1.2rem;
  color: purple;
}

/* line 65, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
#darkModeBtn {
  position: absolute;
  top: 1em;
  right: 50%;
  transform: translate(50%, 0);
  -ms-transform: translate(50%, 0);
  color: purple;
  z-index: 100;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid purple;
  border-radius: 20px;
  width: fit-content;
  padding: 0.5em;
  cursor: pointer;
}

/* line 82, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
#darkModeBtn.btn-disappear {
  z-index: 1;
}

/* line 86, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
#darkModeBtn:hover {
  background-color: purple;
  color: white;
}

/* line 91, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header {
  width: 100%;
  min-height: 100vh;
}

/* line 95, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav {
  width: 100%;
}

/* line 98, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .logo,
header nav .hamburger {
  position: absolute;
  top: 1em;
  z-index: 100;
}

/* line 105, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .logo {
  left: 5%;
}

/* line 109, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .logo-main.hide-logo {
  display: none;
}

/* line 113, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .logo-white {
  display: none;
}

/* line 117, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .logo-white.display-logo {
  display: block;
}

/* line 121, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger {
  right: 5%;
}

/* line 124, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

/* line 129, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner .hamburger-cheeckbox {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
  opacity: 0;
}

/* line 138, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner div {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 15px;
}

/* line 146, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner span {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  background-color: black;
  border-radius: 1px;
  transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
}

/* line 155, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner span:first-of-type {
  top: 0;
}

/* line 159, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner span:last-of-type {
  bottom: 0;
}

/* line 164, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner span.bar-close {
  background-color: white;
}

/* line 171, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner.active span:first-of-type,
header nav .hamburger .hamburger-inner .hamburger-cheeckbox:checked + div span:first-of-type {
  transform: rotate(45deg);
  top: 6.5px;
}

/* line 176, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner.active span:last-of-type,
header nav .hamburger .hamburger-inner .hamburger-cheeckbox:checked + div span:last-of-type {
  transform: rotate(-45deg);
  bottom: 6.5px;
}

/* line 183, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .hamburger .hamburger-inner.active:hover span:first-of-type,
header nav .hamburger .hamburger-inner.active:hover span:last-of-type,
header nav .hamburger .hamburger-inner:hover .hamburger-cheeckbox:checked + div span:first-of-type,
header nav .hamburger .hamburger-inner:hover .hamburger-cheeckbox:checked + div span:last-of-type {
  width: 30px;
}

/* line 192, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .main-nav {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background-color: purple;
  display: none;
  z-index: 10;
}

/* line 201, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .main-nav ul {
  padding: 1em 5%;
}

/* line 204, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .main-nav ul a {
  color: white;
  font-size: 1.5em;
}

/* line 210, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .main-nav ul.main-menu {
  margin-top: 4em;
  list-style: none;
  width: 100%;
}

/* line 215, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .main-nav ul.main-menu li {
  padding: 4em 0;
}

/* line 220, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .main-nav ul.social-menu {
  position: fixed;
  bottom: 1em;
}

/* line 224, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header nav .main-nav ul.social-menu li {
  display: inline-block;
}

/* line 233, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header .main-nav.nav-active {
  display: block;
}

/* line 237, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header div.welcome-text {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  justify-content: center;
  padding: 0 5%;
  padding-top: 5em;
  line-height: 1em;
}

/* line 249, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header div.welcome-text .hello {
  font-style: italic;
}

/* line 253, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header div.welcome-text .name {
  color: purple;
  font-size: 3rem;
  line-height: 1em;
}

/* line 259, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header div.welcome-text .role {
  margin: 1em 0;
  font-size: 1.5rem;
}

/* line 264, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header div.welcome-text .welcome-btn {
  border: 1px solid purple;
  border-radius: 20px;
  width: fit-content;
  padding: 0.8em;
  margin-top: 2em;
  color: purple;
  z-index: 10;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.4);
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 276, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header div.welcome-text .welcome-btn:hover {
  background-color: purple;
  color: white;
}

/* line 281, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
header div.welcome-text .welcome-btn.btn-disappear {
  z-index: 1;
}

/* line 287, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
aside {
  background-color: purple;
  color: white;
}

/* line 291, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
aside .title {
  color: white;
}

/* line 294, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
aside .profile-img {
  margin-bottom: 1em;
  text-align: center;
}

/* line 298, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
aside .profile-img img {
  border: 2px solid gray;
  border-radius: 7px;
}

/* line 306, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
aside .aside-footer {
  display: none;
}

/* line 314, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
main .skills .skills-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

/* line 320, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
main .skills .skills-wrapper .skill {
  width: 250px;
  margin: 0 auto 2em;
  border-radius: 5px;
  padding: 2em 0.8em;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
}

/* line 328, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
main .skills .skills-wrapper .skill img {
  display: block;
  margin: 0 auto;
}

/* line 333, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
main .skills .skills-wrapper .skill h3 {
  margin: 1.5em 0 0.5em;
  font-size: 1rem;
  text-transform: uppercase;
}

/* line 340, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
main .skills .skills-wrapper .skill:hover {
  background-color: purple;
  color: white;
  transform: scale(1.03);
}

/* line 350, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
main .tools .tools-wrapper {
  display: flex;
  display: -webkit-flex;
  flex-flow: wrap;
  justify-content: space-between;
  position: relative;
  width: 100%;
}

/* line 366, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
footer .bottom-footer {
  padding: 2em 5%;
}

/* line 369, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
footer .bottom-footer a {
  color: purple;
}

/* line 373, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
footer .bottom-footer a:hover {
  opacity: 0.8;
}

/* line 377, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
footer .bottom-footer address {
  font-style: normal;
}

/* line 381, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
footer .bottom-footer .social-menu {
  margin: 1.8em 0 0;
}

/* line 387, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.copyright {
  padding: 1em 5%;
  clear: both;
}

/* line 391, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.copyright img {
  width: 20px;
  margin-left: 0.6em;
}

/* line 398, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
ul.social-menu li {
  display: inline;
  padding-right: 2em;
}

/* line 404, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.tool {
  width: 250px;
  height: 250px;
  margin: 0 auto 2em;
  perspective: 1000px;
  position: relative;
}

/* line 411, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.tool .tool-inner {
  width: 100%;
  height: 100%;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
}

/* line 418, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.tool .tool-inner .tool-icon img {
  width: 50%;
}

/* line 425, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.flip,
.tool-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  overflow: hidden;
  padding: 1em;
}

/* line 445, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.flip {
  color: white;
  transform: rotateY(180deg);
  background-color: purple;
}

/* line 451, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.tool:hover .tool-inner {
  transform: rotateY(180deg);
}

/* line 455, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects {
  display: flex;
  display: -webkit-flex;
  flex-flow: wrap;
  align-items: center;
}

/* line 461, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects .project {
  cursor: pointer;
  position: relative;
  width: 100%;
}

/* line 466, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects .project .project-img {
  width: 100%;
  overflow: hidden;
}

/* line 470, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects .project .project-img .work-img {
  width: 100%;
  height: 100%;
  transition: 1s;
}

/* line 477, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects .project .work-des {
  background-color: rgba(31, 31, 31, 0.5);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  padding: 1em;
  text-decoration: none;
  color: white;
  vertical-align: bottom;
  display: flex;
  display: -webkit-flex;
  flex-flow: column;
  justify-content: space-between;
}

/* line 496, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects .project .work-des h3 {
  color: white;
  text-transform: uppercase;
}

/* line 501, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects .project .work-des .btn {
  border: 1px solid purple;
  border-radius: 20px;
  width: fit-content;
  padding: 0.5em 0.8em;
  background-color: white;
  color: purple;
}

/* line 510, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.projects .project .work-des .btn:hover {
  background-color: purple;
  color: white;
}

/* line 518, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.project:hover .work-des {
  opacity: 1;
  color: var(--text-color) !important;
}

/* line 523, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.project:hover .work-img {
  transform: scale(1.3);
}

@media screen and (min-width: 500px) {
  /* line 529, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  section {
    padding: 3em 10%;
  }
  /* line 533, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  .logo {
    left: 10%;
  }
  /* line 537, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  .hamburger {
    right: 10%;
  }
  /* line 541, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  div.welcome-text {
    padding: 1em 10%;
  }
  /* line 547, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  footer .bottom-footer {
    padding: 3em 10% 1em;
  }
  /* line 550, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  footer .bottom-footer address {
    float: left;
  }
  /* line 554, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  footer .bottom-footer .social-menu {
    float: right;
    margin-top: 0;
  }
  /* line 560, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  footer .copyright {
    padding: 2em 10%;
    clear: both;
  }
}

@media screen and (min-width: 768px) {
  /* line 568, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  #darkModeBtn {
    top: 2em;
    right: 10%;
    transform: translate(0, 0);
    -ms-transform: translate(0, 0);
  }
  /* line 577, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav .logo {
    top: 2em;
    left: 50%;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
  }
  /* line 584, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav .hamburger {
    display: none;
  }
  /* line 588, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav {
    display: block;
    height: 50px;
    background-color: transparent;
  }
  /* line 593, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav ul {
    z-index: 10;
  }
  /* line 596, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav ul a {
    color: black;
    font-size: 1em;
    font-weight: bold;
  }
  /* line 602, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav ul a:hover {
    color: purple;
  }
  /* line 607, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav ul.main-menu {
    margin-top: 0;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
  }
  /* line 616, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav ul.main-menu li {
    padding: 2em 0;
    transform: rotate(90deg);
  }
  /* line 622, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav ul.social-menu {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
  }
  /* line 630, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header nav div.main-nav ul.social-menu li {
    display: block;
    padding: 2em 0;
  }
  /* line 638, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header div.welcome-text {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    position: relative;
    text-align: center;
    height: 100vh;
  }
  /* line 646, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header div.welcome-text .name {
    font-size: 3.5rem;
  }
  /* line 650, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header div.welcome-text .role {
    font-size: 1.5rem;
  }
  /* line 654, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header div.welcome-text .welcome-btn {
    margin: 5em auto 0;
  }
  /* line 660, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside {
    position: sticky;
    position: -webkit-sticky;
    flex: 0 0 33.3333%;
    top: 0;
    max-height: 100vh;
    overflow-y: auto;
  }
  /* line 668, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside a {
    color: #d8d8d8;
    text-decoration: underline;
  }
  /* line 673, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside a:hover {
    color: #dddadd;
  }
  /* line 677, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside section {
    padding: 1em 5%;
  }
  /* line 681, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside .copyright {
    padding: 0;
  }
  /* line 685, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside .profile-img {
    text-align: left;
  }
  /* line 688, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside .profile-img img {
    height: 200px;
  }
  /* line 693, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside .aside-footer {
    display: block;
  }
  /* line 696, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside .aside-footer address {
    font-style: normal;
  }
  /* line 700, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  aside .aside-footer .social-menu {
    margin: 2em 0;
  }
  /* line 706, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  main {
    flex: 0 0 66.6666%;
    height: fit-content;
  }
  /* line 710, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  main .skills {
    padding-top: 1em;
  }
  /* line 715, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  footer {
    display: none;
  }
  /* line 719, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  .wrapper {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    margin: 0 auto;
  }
  /* line 726, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  .portfolio {
    padding-bottom: 1em;
  }
}

@media screen and (min-width: 1024px) {
  /* line 732, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  section {
    padding: 3em 5%;
  }
  /* line 738, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header div.welcome-text {
    padding: 1em 5%;
    line-height: 1em;
  }
  /* line 743, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header div.welcome-text .name {
    font-size: 4rem;
  }
  /* line 747, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  header div.welcome-text .role {
    font-size: 2rem;
  }
  /* line 753, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
  .projects .project {
    width: 50%;
  }
}

/* line 759, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode {
  background-color: rgba(8, 8, 8, 0.952);
  color: white;
}

/* line 763, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode #darkModeBtn {
  color: white;
}

/* line 767, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode a {
  color: white !important;
}

/* line 771, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode a:hover {
  color: purple !important;
}

/* line 778, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode .hamburger .hamburger-inner div span {
  background-color: white;
}

/* line 786, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode .portfolio .btn {
  color: purple !important;
}

/* line 791, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode .welcome-btn:hover,
.dark-mode .btn:hover {
  color: white !important;
}

/* line 797, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode aside a {
  color: #b4b2b4 !important;
}

/* line 801, ../../../../../../Documents/private doc (keep off)/portfolio/sass/style.scss */
.dark-mode aside a:hover {
  color: #dddadd !important;
}

/*# sourceMappingURL=style.css.map */