/* line 1, ../../../../../portfoliohop/my portfolio/css/style.scss */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 9, ../../../../../portfoliohop/my portfolio/css/style.scss */
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 100%;
}

/* line 15, ../../../../../portfoliohop/my portfolio/css/style.scss */
body {
  background: linear-gradient(black, #3d3c3c);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  color: white;
  padding: 3em 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* line 25, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav button {
  padding: 5px;
  font-size: 2rem;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
}

/* line 36, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav ul {
  list-style: none;
  position: relative;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #D57C68;
  z-index: 10;
  height: 100vh;
  width: 100%;
  padding: 5.5em 0;
}

/* line 49, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav ul li {
  padding: 1.5em 1em;
}

/* line 52, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav ul li a {
  color: black;
  text-decoration: none;
}

/* line 56, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav ul li a:hover {
  color: white;
  font-weight: bold;
}

/* line 61, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav ul span.social-nav {
  margin-top: 20px;
  display: block;
}

/* line 65, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav ul span.social-nav li {
  display: inline;
  padding: 1em;
}

/* line 71, ../../../../../portfoliohop/my portfolio/css/style.scss */
body nav ul.display-menu {
  display: block;
}

/* line 75, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .landing-page {
  padding-top: 3em;
  width: 100%;
  position: relative;
}

/* line 80, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .landing-page .landing-page-img {
  padding-bottom: 2em;
  text-align: center;
  width: 100%;
  order: 2;
}

/* line 86, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .landing-page .landing-page-img img {
  width: 100%;
}

/* line 93, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .landing-page .landing-page-text h1 {
  font-size: 2.5rem;
  color: #D57C68;
  padding-bottom: 0.2em;
  font-family: oleo script, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
}

/* line 101, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .landing-page .landing-page-text h3 {
  font-size: 2rem;
  padding: 0.5em 0;
}

/* line 108, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .about {
  width: 80%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 65%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* line 120, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .about .about-img {
  margin-bottom: 40px;
}

/* line 123, ../../../../../portfoliohop/my portfolio/css/style.scss */
body .about .about-img img {
  max-width: 100%;
}

@media screen and (min-width: 500px) {
  /* line 131, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body {
    padding: 3em 2.5em;
  }
}

@media screen and (min-width: 600px) {
  /* line 137, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body {
    padding: 3em 3.5em;
  }
}

@media screen and (min-width: 700px) {
  /* line 143, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body {
    padding: 3em 2em;
  }
  /* line 147, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav button {
    display: none;
  }
  /* line 150, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav ul.main-nav {
    display: block;
    position: relative;
    height: auto;
    padding: 0;
    background: transparent;
  }
  /* line 157, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav ul.main-nav li {
    display: inline-block;
    padding: 0.2em;
  }
  /* line 161, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav ul.main-nav li a {
    color: white;
  }
  /* line 165, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav ul.main-nav li a:hover {
    color: #D57C68;
    font-weight: normal;
  }
  /* line 171, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav ul.main-nav span.social-nav {
    float: right;
    margin-top: 0;
  }
  /* line 175, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav ul.main-nav span.social-nav li {
    padding: 0.2em 1em;
  }
  /* line 182, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body .landing-page {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    vertical-align: middle;
    width: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  /* line 195, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body .landing-page .landing-page-img {
    width: 30%;
  }
  /* line 200, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body .about {
    top: 55%;
  }
  /* line 203, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body .about div {
    width: 40%;
  }
}

@media screen and (min-width: 1000px) {
  /* line 211, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body {
    padding: 3em 5em;
  }
  /* line 215, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body nav ul.main-nav li {
    padding: 0.2em 1em;
  }
  /* line 221, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body .landing-page {
    margin-top: 3em;
  }
  /* line 226, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body .landing-page .landing-page-text h1 {
    font-size: 4rem;
  }
  /* line 230, ../../../../../portfoliohop/my portfolio/css/style.scss */
  body .landing-page .landing-page-text h3 {
    font-size: 3rem;
  }
}

/*# sourceMappingURL=style.css.map */